@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 300px;
    height: auto;
    font-family: "Open Sans", "Roboto", sans-serif;
    color: #2d3c5d;
}

h2 {
    text-align: center;
    margin: 16px;
}

div {
    display: flex;
    justify-content: center;
}

#sign-in {
    width: 70%;
    margin: 24px;
    margin-top: 12px;
}

.button-24 {
    background: #126ee9;
    border: 2px solid #126ee9;
    border-radius: 6px;
    /* box-shadow: 3px 8px 16px 0px rgba(18, 110, 233, 0.4); */
    box-shadow: 3px 10px 20px 0px rgba(18, 110, 233, 0.3);
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Nunito", "Open Sans", "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #126ee9;
}

.button-24:active {
    opacity: .5;
}